@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--clr-primary: hsl(185, 14%, 16%);
	--clr-secondary: hsl(200, 10%, 24%);
	--clr-tertiary: hsl(7, 67%, 39%);
	--clr-neutral: hsl(0, 0%, 93%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font: inherit;
	font-family: "Poppins", sans-serif;
}

body {
	color: var(--clr-neutral);
}

.sidebar {
	width: 256px;
	height: 100vh;
	background-color: var(--clr-primary);
	padding: 1.5rem;
	font-size: 1.75rem;
	display: flex;
	flex-direction: column;
	gap: 32px;
	background: #232d2e;
	box-shadow: 7px 7px 43px 31px rgba(0, 0, 0, 0.25);
	z-index: 10;
}

.sidebar-heading {
	color: var(--clr-neutral);
	font-weight: 600;
	font-size: 1.6rem;
	text-align: center;
}

.place-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: auto;
}

.place-item {
	border-radius: 0.4375rem;
	background: var(--clr-secondary);
	color: var(--clr-neutral);
	font-size: 16px;
	padding: 6px 8px;
	border-left: 8px solid var(--clr-tertiary);
}

.report {
	border-radius: 1.28425rem;
	border: 1.12px solid var(--clr-tertiary);
	box-shadow: 0px 1.12037px 14.56482px 2.24074px var(--clr-tertiary);
	background: none;
	color: #ececec;
	text-align: center;
	font-size: 0.7rem;
	font-weight: 500;
	padding: 8px 16px;
	cursor: pointer;
}

.copy {
	color: #9e9e9e;
	text-align: center;
	font-size: 12px;
}

.map {
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 250px;
	width: 100%;
}

.info-modal {
	border-radius: 0.75rem;
	border: 1px solid rgba(255, 255, 255, 0);
	background: rgba(35, 45, 46, 0.85);
	box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 1.5rem;
	min-width: 500px;
}

.modal-close {
	position: fixed;
	top: 8px;
	right: 8px;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.modal-heading {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 8px;
}

.modal-body {
	color: #ececec;
	font-size: 16px;
	line-height: 165%; /* 1.47244rem */
}

.modal-body span {
	font-weight: 500;
}

.report-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.74);
	display: grid;
	place-items: center;
}

.report-modal-container {
	border-radius: 24.319px;
	background: #232d2e;
	backdrop-filter: blur(19.10740852355957px);
	text-align: center;
}

.report-top {
	padding: 2em;
}

.report-header {
	color: #a73121;
	font-size: 29.53px;
	font-weight: 500;
	letter-spacing: -0.709px;
}

.report-text {
	font-size: 22.581px;
	font-weight: 500;
	letter-spacing: -0.135px;
}

.report-line {
	width: 208px;
	height: 1px;
	margin-inline: auto;
	background: linear-gradient(
		270deg,
		rgba(167, 49, 33, 0.5) 0%,
		#a73121 55.73%,
		rgba(167, 49, 33, 0.49) 100%
	);
	filter: blur(0.5px);
	margin-bottom: 10px;
}

.report-bottom {
	text-align: center;
	border: none;
	border-top: 0.5px solid hsla(0, 0%, 50%, 0.5);
	padding: 1.5em;
	background: none;
	outline: none;
	width: 100%;
	color: #ececec;
	font-size: 1.2rem;
}

.recent {
	color: #ececec;
	border-radius: 15.059px;
	background: #232d2e;
	box-shadow: 0px 1.56052px 19.57647px -6.02353px #000;
	position: fixed;
	left: calc(256px + 64px);
	top: 16px;
	padding: 12px 16px;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	text-align: center;
}
